<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Bank Info</title>
</head>
<body style="background-color: #FFEBCD;">

    <!-- Error message placeholder -->
    <div th:if="${error}">
        <h2 style="color:red; font-size: 18px; font-weight: bold;" th:text="${error}"></h2>
    </div>

    <nav style="background-color: #DEB887;">
        <div class="container-fluid d-flex align-items-center justify-content-between mt-5">
            <div class="d-flex align-items-center">
                <h2 class="h4 mb-2 mt-2 fw-bold text-white ms-2">Bank Information</h2>
            </div>
        </div>
    </nav>

    <br /><br />

    <div class="row">
        <div class="col-4" style="margin-left: 10rem;">
            <form th:action="@{/register/bank}" th:object="${allInfo}" method="post">
                <div class="mb-3">
                    <label class="form-label">Bank name:</label>
                    <input th:field="*{bname}" class="form-control" autocomplete="off"/>
                </div>

                <div class="mb-3">
                    <label class="form-label">Account Number:</label>
                    <input th:field="*{acnum}" class="form-control" autocomplete="off"/>
                </div>

                <div class="mb-3">
                    <label class="form-label">SSN:</label>
                    <input th:field="*{ssn}" class="form-control" autocomplete="off"/>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn"
                        style="background-color: #DEB887; border-color: #DEB887; color: #fff;">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <div class="col-8"></div>
    </div>
</body>
</html>
